name: Auto Tag on Merge

on:
    push:
        branches:
            - main
        paths:
            - "docs/**"
            - "examples/**"
            - "internal/**"

permissions:
    contents: write

jobs:
    auto-tag:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Bump version and push tag
              uses: mathieudutour/github-tag-action@a22cf08
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  default_bump: patch
                  tag_prefix: v
